# Source files taken from linux, with statement like "/* taken from linux, and modified by xxx */"
/include/list.h
/include/llist.h
/include/nvme.h
/include/nvme-rdma.h
/include/nvme-tcp.h

# Source files of crc32 part taken from internet, original author: Mark Adler
/include/crc32c.h
/lib/crc32c.c

# Other files, written by zhenwei pi & helei.
/
